{% extends "layout.html" %}

{% block title %}
    Forgot Password
{% endblock %}

{% block main %}
<body class="vh-100 bg-image register_image">
  <section class="mask d-flex align-items-center h-100 gradient-custom-3" style="padding: 3vw">
    <div class="h-100">
      <div class="row d-flex h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6 container">
          <div class="card" style="border-radius: 15px; width: 40vw; height: 35vh;">
            <div class="card-body p-5">
              <form action="/forgotpassword" method="post">

                <div class="form-outline mb-4">
                  <label class="form-label" for="form3Example3cg"><b>Your Email</b></label>
                  <input type="email" name="email" id="email" class="form-control form-control-lg" placeholder="Email" />
                </div>

                <div class="d-flex justify-content-center">
                  <button type="submit"
                    class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Send Code</button>
                </div>
                </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>
{% endblock %}