{% extends "layout.html" %}

{% block title %}
    Homepage

{% endblock %}

{% block main %}

<body>
    <div class="container">
        <h1 class="welcometext largefont">Welcome, {{name}}!</h1>
        <p class="subtitle">Let's get started. To find information on a flight, please enter the flight number/IATA code below:</p>

        <form action="/" method="post">
            <div class="search-box">
                <button class="btn-search fas fa-search">🔍</button>
                <input type="text" class="input-search" name="flight_iata" id="flight_iata" placeholder="IATA code">
            </div>
        </form>
        <p class="subtitle2">Looking for something else? Scroll for more.</p>
    </div>          

    <div class="container reveal">
        <table style="width:80vw">
            <tbody>
                <tr>
                    <!--Text-->
                    <td style="width: 50%">
                        <br>
                        <h1 class="welcometext medfont">We get it. Finding travel information can be a pain. But it doesn't have to be.</h1>
                        <p class="subtitle">With SkySoarer, retrieving flight information has never been easier.</p>
                        <p class="subtitle">SkySoarer's creators have carefully selected APIs to give YOU the best information possible.</p>
                    </td>
                    <!--Image-->
                    <td>
                        <img src="{{url_for('static', filename='groupphoto.png')}}" align="middle" />   
                    </td>
                </tr>
            </tbody>
        </table>      
    </div>

    <div class="container reveal">
        <table style="width:80vw">
            <tbody>
                <tr>
                    <!--Image-->
                    <td style="width: 50%">
                        <img src="{{url_for('static', filename='IMG_0035.JPG')}}" align="middle" />   
                    </td>
                    <!--Text-->
                    <td>
                        <br>
                        <h1 class="welcometext medfont">Look above!</h1>
                        <p class="subtitle">There are {{numPlanesSky}} flights in the sky within 10 miles of you.</p>
                        <p class="subtitle">[subtitle]</p>
                    </td>
                </tr>
            </tbody>
        </table>      
    </div>  
</body>
{% endblock %}


