{% extends "layout.html" %}

{% block title %}
    Nearby Airports
{% endblock %}

{% block main %}
{% if arethereairports %}
<table class ="table table-striped">
    <thead>
        <tr>
            <th class="text-start">Airport Name</th>
            <th class="text-start">Distance</th>
        </tr>
    </thead>
    <tbody>
            {% for key,value in dicts.items() %}
            <tr>
                <td>{{key}}</td>
                <td>{{value}} km</td>
            </tr>
            {% endfor %}
    </tbody>
   </table>
{% else %}
<p>There are no nearby airports :( </p>
{%endif%}
{% endblock %}
