{% extends "layout.html" %}

{% block title %}
    Nearby Airports
{% endblock %}

{% block main %}
<p><center>Let's find what airports are nearby!</center></p>
<p><center>Presently, here is information about where you are.</center></p>
<ul>
    <li><b>City</b>: {{city}}</li>
    <li><b>State</b>: {{state}}</li>
    <li><b>Country</b>: {{country}}</li>
    <li><b>Zip Code</b>: {{zipcode}}</li>
  </ul>
<p><center>Type below your search radius (in km)!</center></p>
<form action="/nearby" method="post">
    <div class="mb-3">
        <input class="form-control mx-auto w-auto" id="radius" name="radius" placeholder="km" type="number" min="1" max="100">
    </div>
    <button class="btn btn-primary" type="submit">Search</button>
</form>

{% endblock %}
