{% extends "layout.html" %}

{% block title %}
    Settings
{% endblock %}

{% block main %}
<!--bootstrap settings page format: https://www.bootdey.com/snippets/view/profile-notification-settings-->
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-10 col-xl-8 mx-auto">
                <h2 class="h3 mb-4 page-title">Settings</h2>
                <div class="my-4">
                    <hr class="my-4" />
                    <strong class="mb-0">Customize Your SkySoarer Experience</strong>
                    <div class="list-group mb-5 shadow">
                        <div class="list-group-item">
                            <div class="row align-items-center">
                                <div class="col">
                                    <strong class="mb-0">Nightime Flyer</strong>
                                    <p class="text-muted mb-0">Activate dark mode</p>
                                </div>
                                <div class="col-auto">
                                    <div class="custom-control custom-switch">
                                        <input type="checkbox" class="custom-control-input" id="alert1"/>
                                        <span class="custom-control-label"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="my-4" />
                </div>
            </div>
        </div>
    </div>
{% endblock %}