{% extends "layout.html" %}

{% block title %}
    Flight Tracker
{% endblock %}

{% block main %}
    <br>
    <h1>Flight {{flight_iata}}'s Current Location: </h1>
    <div id="map" style="width:100%; height:500px;"></div>

    <script>
        function initMap() {
            var location = {lat: {{latitude}}, lng: {{longitude}}};
            var map = new google.maps.Map(document.getElementById("map"), {
                zoom: 6,
                center: location
            });
            var marker = new google.maps.Marker({
                position: location,
                map: map,
                icon: 'http://maps.google.com/mapfiles/kml/shapes/airports.png'
            });
        }
    </script>

    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAg3dpTGiCwOvr5QrS0CIuyrET6-lB4fVo&callback=initMap">
    </script>

{% endblock %}
