@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap'); 

/* Size for brand */
nav .navbar-brand
{
    font-size: 25px;
    padding-left: 13px;
    font-family: "Impact";
}

.raise:hover
{
  transform: translateY(0.25em);
  animation-duration: 1s;
}

.my-form
{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.my-form .row
{
    margin-left: 0;
    margin-right: 0;
}

.login-form
{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.login-form .row
{
    margin-left: 0;
    margin-right: 0;
}

.homepagewelcome 
{
    margin-top: auto;
}

.welcometext /*  customizes Welcome, (name) text! */
{
    padding-top: 15px;
    padding-bottom: 5px;
    font-size: 50px;
    font-family: "optima";
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.searchbtn 
{
    display: inline-block;
    border-radius: 4px;
    background-color: #ffffff;
    border: none;
    color: hsl(240, 58%, 24%);
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 10px;
}

.searchbtn:hover
{
    background-color: hsl(240, 58%, 24%);
    color: white;
}

.searchbox
{
    display: inline-block;
    background-color: #ffffff;
    border-style: solid;
    border-color: hsl(240, 58%, 24%);
    border-width: 3px;
    opacity: 0.8;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 500px;
    margin: 10px;
}

.searchbox:hover
{
    border-style: dashed;
}

/* box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19); */

*{
    box-sizing: border-box;
  }

  .search-box{
    width: fit-content;
    height: fit-content;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    
  }
  .input-search{
    height: 50px;
    width: 50px;
    border-style: none;
    padding: 10px;
    font-size: 18px;
    letter-spacing: 2px;
    outline: none;
    border-radius: 25px;
    transition: all .5s ease-in-out;
    background-color: white;
    padding-right: 40px;
  }
.input-search::placeholder{
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 100;
}
.btn-search{
    width: 50px;
    height: 50px;
    border-style: none;
    font-size: 20px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    right: 0px;
    pointer-events: painted;  
}
.btn-search:hover ~ .input-search{
    width: 300px;
    border-radius: 0px;
    border-bottom:1px solid hsl(240, 58%, 24%);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}
.input-search:hover{
    width: 300px;
    border-radius: 0px;
    border-bottom:1px solid hsl(240, 58%, 24%);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}

.container {
    display: flex; /* establish flex container */
    flex-direction: column; /* make main-axis vertical */
    justify-content: center; /* align items vertically, in this case */
    align-items: center; /* align items horizontally, in this case */
    height: 100vh; 
    align-items: center;
}
  
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

.reveal{
    position: static;
    transform: translateY(150px);
    opacity: 0;
    transition: 2s all ease;
  }
  .reveal.active{
    transform: translateY(0);
    opacity: 1;
  }

/*Light/dark mode: https://stackoverflow.com/questions/63577939/save-dark-mode-light-mode-to-localstoage*/

body.dark {
    color: white;
    background-color: #121212;
}
body.light {
    color: black;
    background-color: white;
}

body {
    padding: 0;
    min-height: 100vh;
    background: hsl(0, 0%, 83%);
    animation: body 1s linear;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -1s);
    animation-iteration-count: 1;
    animation-fill-mode: both;
  }
  @keyframes body {
    to {
      background-color: rgb(19, 48, 97);
    }
  }

.subtitle
{
    font-size: 15px;
}

.subtitle2
{
    font-size: 15px;
    padding-top: 50px;
    border-bottom: 1px dashed rgb(19, 48, 97);
}

ul {
    text-align: center;
    list-style-position: inside;
}

footer {
    text-align: center;
}

.maintable
{
    color: white;

}



.table {
    background-color: white;
}








@import url(https://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700italic,700,900italic,900);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900);
body{background-color:#eee;}

#maintable{
	background-color: #f0eded;
}

/*PRICE COLOR CODE START*/
#maintable .generic_content{
	background-color: #fff;
}

#maintable .generic_content .generic_head_price{
	background-color: #f6f6f6;
}

#maintable .generic_content .generic_head_price .generic_head_content .head_bg{
	border-color: #e4e4e4 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #e4e4e4;
}

#maintable .generic_content .generic_head_price .generic_head_content .head span{
	color: #525252;
}

#maintable .generic_content .generic_head_price .generic_price_tag .price .sign{
    color: #414141;
}

#maintable .generic_content .generic_head_price .generic_price_tag .price .currency{
    color: #414141;
}

#maintable .generic_content .generic_head_price .generic_price_tag .price .cent{
    color: #414141;
}

#maintable .generic_content .generic_head_price .generic_price_tag .month{
    color: #414141;
}

#maintable .generic_content .generic_feature_list ul li{	
	color: #a7a7a7;
}

#maintable .generic_content .generic_feature_list ul li span{
	color: #414141;
}
#maintable .generic_content .generic_feature_list ul li:hover{
	background-color: #E4E4E4;
	border-left: 5px solid #2ECC71;
}

#maintable .generic_content .generic_price_btn a{
	border: 1px solid #2ECC71; 
    color: #2ECC71;
} 

#maintable .generic_content.active .generic_head_price .generic_head_content .head_bg,
#maintable .generic_content:hover .generic_head_price .generic_head_content .head_bg{
	border-color: #2ECC71 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #2ECC71;
	color: #fff;
}

#maintable .generic_content:hover .generic_head_price .generic_head_content .head span,
#maintable .generic_content.active .generic_head_price .generic_head_content .head span{
	color: #fff;
}

#maintable .generic_content:hover .generic_price_btn a,
#maintable .generic_content.active .generic_price_btn a{
	background-color: #2ECC71;
	color: #fff;
} 
#maintable{
	margin: 50px 0 50px 0;
    font-family: 'Raleway', sans-serif;
}
.row .table{
    padding: 28px 0;
}

/*PRICE BODY CODE START*/

#maintable .generic_content{
	overflow: hidden;
	position: relative;
	text-align: center;
}

#maintable .generic_content .generic_head_price {
	margin: 0 0 20px 0;
}

#maintable .generic_content .generic_head_price .generic_head_content{
	margin: 0 0 50px 0;
}

#maintable .generic_content .generic_head_price .generic_head_content .head_bg{
    border-style: solid;
    border-width: 90px 1411px 23px 399px;
	position: absolute;
}

#maintable .generic_content .generic_head_price .generic_head_content .head{
	padding-top: 40px;
	position: relative;
	z-index: 1;
}

#maintable .generic_content .generic_head_price .generic_head_content .head span{
    font-family: "Raleway",sans-serif;
    font-size: 28px;
    font-weight: 400;
    letter-spacing: 2px;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

#maintable .generic_content .generic_head_price .generic_price_tag{
	padding: 0 0 20px;
}

#maintable .generic_content .generic_head_price .generic_price_tag .price{
	display: block;
}

#maintable .generic_content .generic_head_price .generic_price_tag .price .sign{
    display: inline-block;
    font-family: "Lato",sans-serif;
    font-size: 28px;
    font-weight: 400;
    vertical-align: middle;
}

#maintable .generic_content .generic_head_price .generic_price_tag .price .currency{
    font-family: "Lato",sans-serif;
    font-size: 60px;
    font-weight: 300;
    letter-spacing: -2px;
    line-height: 60px;
    padding: 0;
    vertical-align: middle;
}

#maintable .generic_content .generic_head_price .generic_price_tag .price .cent{
    display: inline-block;
    font-family: "Lato",sans-serif;
    font-size: 24px;
    font-weight: 400;
    vertical-align: bottom;
}

#maintable .generic_content .generic_head_price .generic_price_tag .month{
    font-family: "Lato",sans-serif;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 3px;
    vertical-align: bottom;
}

#maintable .generic_content .generic_feature_list ul{
	list-style: none;
	padding: 0;
	margin: 0;
}

#maintable .generic_content .generic_feature_list ul li{
	font-family: "Lato",sans-serif;
	font-size: 18px;
	padding: 15px 0;
	transition: all 0.3s ease-in-out 0s;
}
#maintable .generic_content .generic_feature_list ul li:hover{
	transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	-ms-transition: all 0.3s ease-in-out 0s;
	-o-transition: all 0.3s ease-in-out 0s;
	-webkit-transition: all 0.3s ease-in-out 0s;

}
#maintable .generic_content .generic_feature_list ul li .fa{
	padding: 0 10px;
}
#maintable .generic_content .generic_price_btn{
	margin: 20px 0 32px;
}

#maintable .generic_content .generic_price_btn a{
    border-radius: 50px;
	-moz-border-radius: 50px;
	-ms-border-radius: 50px;
	-o-border-radius: 50px;
	-webkit-border-radius: 50px;
    display: inline-block;
    font-family: "Lato",sans-serif;
    font-size: 18px;
    outline: medium none;
    padding: 12px 30px;
    text-decoration: none;
    text-transform: uppercase;
}

#maintable .generic_content,
#maintable .generic_content:hover,
#maintable .generic_content .generic_head_price .generic_head_content .head_bg,
#maintable .generic_content:hover .generic_head_price .generic_head_content .head_bg,
#maintable .generic_content .generic_head_price .generic_head_content .head h2,
#maintable .generic_content:hover .generic_head_price .generic_head_content .head h2,
#maintable .generic_content .price,
#maintable .generic_content:hover .price,
#maintable .generic_content .generic_price_btn a,
#maintable .generic_content:hover .generic_price_btn a{
	transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	-ms-transition: all 0.3s ease-in-out 0s;
	-o-transition: all 0.3s ease-in-out 0s;
	-webkit-transition: all 0.3s ease-in-out 0s;
} 
@media (max-width: 320px) {	
}

@media (max-width: 767px) {
	#maintable .generic_content{
		margin-bottom:75px;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	#maintable .col-md-3{
		float:left;
		width:50%;
	}
	
	#maintable .col-md-4{
		float:left;
		width:50%;
	}
	
	#maintable .generic_content{
		margin-bottom:75px;
	}
}
@media (min-width: 992px) and (max-width: 1199px) {
}
@media (min-width: 1200px) {
}
#generic_price_table_home{
	 font-family: 'Raleway', sans-serif;
}

.text-center h1,
.text-center h1 a{
	color: #7885CB;
	font-size: 30px;
	font-weight: 300;
	text-decoration: none;
}
.demo-pic{
	margin: 0 auto;
}
.demo-pic:hover{
	opacity: 0.7;
}

#generic_price_table_home ul{
	margin: 0 auto;
	padding: 0;
	list-style: none;
	display: table;
}
#generic_price_table_home li{
	float: left;
}
#generic_price_table_home li + li{
	margin-left: 10px;
	padding-bottom: 10px;
}
#generic_price_table_home li a{
	display: block;
	width: 50px;
	height: 50px;
	font-size: 0px;
}
#generic_price_table_home .blue{
	background: #3498DB;
	transition: all 0.3s ease-in-out 0s;
}
#generic_price_table_home .emerald{
	background: #2ECC71;
	transition: all 0.3s ease-in-out 0s;
}
#generic_price_table_home .grey{
	background: #7F8C8D;
	transition: all 0.3s ease-in-out 0s;
}
#generic_price_table_home .midnight{
	background: #34495E;
	transition: all 0.3s ease-in-out 0s;
}
#generic_price_table_home .orange{
	background: #E67E22;
	transition: all 0.3s ease-in-out 0s;
}
#generic_price_table_home .purple{
	background: #9B59B6;
	transition: all 0.3s ease-in-out 0s;
}
#generic_price_table_home .red{
	background: #E74C3C;
	transition:all 0.3s ease-in-out 0s;
}
#generic_price_table_home .turquoise{
	background: #1ABC9C;
	transition: all 0.3s ease-in-out 0s;
}

#generic_price_table_home .blue:hover,
#generic_price_table_home .emerald:hover,
#generic_price_table_home .grey:hover,
#generic_price_table_home .midnight:hover,
#generic_price_table_home .orange:hover,
#generic_price_table_home .purple:hover,
#generic_price_table_home .red:hover,
#generic_price_table_home .turquoise:hover{
	border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
	transition: all 0.3s ease-in-out 0s;
}
#generic_price_table_home .divider{
	border-bottom: 1px solid #ddd;
	margin-bottom: 20px;
	padding: 20px;
}
#generic_price_table_home .divider span{
	width: 100%;
	display: table;
	height: 2px;
	background: #ddd;
	margin: 50px auto;
	line-height: 2px;
}
#generic_price_table_home .itemname{
	text-align: center;
	font-size: 50px ;
	padding: 50px 0 20px ;
	border-bottom: 1px solid #ddd;
	margin-bottom: 40px;
	text-decoration: none;
    font-weight: 300;
}
#generic_price_table_home .itemnametext{
    text-align: center;
    font-size: 20px;
    padding-top: 5px;
    text-transform: uppercase;
    display: inline-block;
}
#generic_price_table_home .footer{
	padding:40px 0;
}

.price-heading{
    text-align: center;
}
.price-heading h1{
	color: #666;
	margin: 0;
	padding: 0 0 0 0;
}
.demo-button {
    background-color: #333333;
    color: #ffffff;
    display: table;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 50px;
    outline-color: -moz-use-text-color;
    outline-style: none;
    outline-width: medium ;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
}
.bottom_btn{
	background-color: #333333;
    color: #ffffff;
    display: table;
    font-size: 28px;
    margin: 60px auto 20px;
    padding: 10px 25px;
    text-align: center;
    text-transform: uppercase;
}
.demo-button:hover{
	background-color: #666;
	color: #FFF;
	text-decoration:none;
	
}
.bottom_btn:hover{
	background-color: #666;
	color: #FFF;
	text-decoration:none;
}
