@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap'); 

/* Size for brand */
nav .navbar-brand
{
    font-size: xx-large;
    padding-left: 5px;
}

/* Colors for brand */
nav .navbar-brand .blue
{
    color: #537fbe;
}
nav .navbar-brand .red
{
    color: #ea433b;
}
nav .navbar-brand .yellow
{
    color: #f5b82e;
}
nav .navbar-brand .green
{
    color: #2e944b;
}

body {
    margin-top: 50px;
    background: #FBD4C5;
}

.my-form
{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.my-form .row
{
    margin-left: 0;
    margin-right: 0;
}

.login-form
{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.login-form .row
{
    margin-left: 0;
    margin-right: 0;
}

.homepagewelcome 
{
    margin-top: auto;
}

.welcometext /* changes color of Welcome, (name) text! */
{
  color:rgb(225, 25, 25)
}

  
body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    background-color: rgb(142, 236, 167);
    color: rgb(255, 0, 0);
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
  }
  
footer { 
  margin-top: auto;
}